.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  font-weight: bold;
}

.wd-modules > li {
  background-color: rgb(240, 239, 239);
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 4px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules-top-buttons {
  color: black;
  background-color: lightgray;
}

.wd-nav-bar {
  background-color: black;
  color: white;
  height: 40px;
  padding: none !important;
}

.wd-nav-bar button {
  color: white;
}

#module-buttons * {
  margin: 2px;
}
