.wd-assignments,
.wd-assignments * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: start;
}

.wd-assignments {
  margin: 5px;
  font-weight: bold;
}

.wd-assignment-links {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.wd-assignments > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-assignments > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-assignments > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 4px solid green;
}

.wd-assignments > li {
  margin-bottom: 20px;
}

.breadcrumb {
  color: red;
  font-size: medium !important;
  --bs-breadcrumb-divider: ">";
}
